@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.container {
  position: relative;
}
/* 把分數顯示出來 */
#overlay {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: monospace;
  font-size: 24px;
  padding: 20px;
  border-radius: 1em;
  border: 5px solid rgb(101, 76, 211);
  text-shadow: 0px 0px 5px white;
}
/* 表示計算分數的方式 */
#overlay2 {
  position: absolute;
  left: 20px;
  top: 100px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: monospace;
  font-size: 18px;
  padding: 10px;
  text-shadow: 0px 0px 5px black;
}
